body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.calculator-grid {
    border: 1px solid black;
}

.calc-display {
    background-color: white;
    height: 120px;
    width: 290px;
}

.calculator-grid {
    width: 300px;
    height: 390px;
    padding: 15px;
    border: 1px solid blue;
}

.previous-operand {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 300px;
    
    border: 1px solid black;
}

.current-operand {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    height: 60px;
    width: 300px;
    font-size: 40px;
    
    border: 1px solid red;
}

button {
    height: 50px;
    width: 70px;
}

.buttons {
    flex-wrap: wrap;
    margin-left: 2.3px;
    
}

.span-two {
    width: 120px;
}

.clear-del {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 300px;
}

