body {
    text-align: center;
}

.container {
    text-align: center;
    width: 20em;
    height: 25em;
    border: 1px solid black;
}

.display {
    margin: 1.5em;
    border: 1px solid black;
}

.display-prev-numbers {
    height: 3em;
}

.display-curr-numbers {
    height: 3em;
}

.number,
.operator,
.equals {
    height: 3em;
    width: 5em;
    margin-top: 0.4em;
}

.clear,
.delete {
    height: 3em;
    width: 8em;
    margin: 0.4em;
}