body {
    text-align: center;
    margin: auto;
    width: 25%;
    margin-top: 12em;
    background-color: antiquewhite;
}

.container {
    width: 20em;
    height: 25em;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 15px;
}

.display {
    margin: 1.5em;
    height: 5.2em;
    border: 2px solid black;
    border-radius: 15px;
}

.display-prev-numbers {
    height: 3em;
    text-align: end;
    margin-right: 0.5em;
    margin-top: 0.4em;
}

.display-curr-numbers {
    text-align: end;
    margin-right: 0.5em;
    font-size: 1.8em;

}

.number,
.operator,
.equals {
    height: 3em;
    width: 5em;
    margin-top: 0.4em;
    background-color:aliceblue;
    border: 1px solid black;
    border-radius: 15px;
}

.clear,
.delete {
    height: 3em;
    width: 8em;
    margin: 0.4em;
    background-color: khaki;
    border: 1px solid black;
    border-radius: 15px;
}

