body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.calculator-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    border: 1px solid black;
}

.calc-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px; 
    background-color: white;
    height: 85px;
    width: 290px;

}

.calculator-grid {
    width: 300px;
    height: 390px;
    padding: 15px;
    background-color: #414a4c;
}

.previous-operand {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 290px;
}

.current-operand {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 290px;
    font-size: 40px;
}

button {
    height: 50px;
    width: 70px;
    font-size: 15px;
}

.span-two {
    width: 120px;
}

.clear-del {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 300px;
}

.numbers-operations {
    margin-left: 3px;
}