body {
    text-align: center;
}

.container {
    text-align: center;
    width: 20em;
    height: 25em;
    border: 1px solid black;
}

.display {
    margin: 1.5em;
    border: 1px solid black;
}

.display-prev-numbers {
    height: 3em;
    border: 1px solid black;
}

.display-curr-numbers {
    height: 3em;
    border: 1px solid black;
}

.buttons {
    display: grid;
    
}